<li>
	<div class="right-inner-addon">
		<i class="fa fa-search"></i>
		<input class="form-control" id="city_search" type="search" class="form-control" placeholder="Введите название города">
	</div>
</li>
{{#each content.items}}
	<li class="conditions">
		<a data-lat="{{default_pos.lat}}" data-lon="{{default_pos.lon}}" href="#" data-city-id="{{id}}">{{name}}</a>
		<span class="badge pull-right">{{placemarks_count}}</span>
	</li>
{{/each}}

