html, body {
  height: 100%;
}

body {
  padding: 40px 0 0 0;
}

#map-container {
	color: black;
	display: block;
	position: absolute;
	height: auto;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	margin: 40px 0 0;
	padding: 0;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}

#map-chooser {
	display: none;
	width: 35px;
	height: 35px;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: url('/static/img/default/chooser.png') no-repeat;
	background-size: 100% 100%;
	z-index: 500;
}

#map-dialog {
	display: none;
	width: 190px;
	font-family: "Roboto Condensed","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 15px;
	line-height: 1.42857143;
	padding: 10px;
	color: #ebebeb;
	background: #4e5d6c;
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 500;
}

#map-backdrop {
	display: none;
	visibility: hidden;
}

body.canvas-slid #map-backdrop {
	display: block;
	visibility: visible;
	position: absolute;
	top: 40px;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #000;
	opacity: .5;
	filter: alpha(opacity=50);
}

.sag-zoom-control {
	margin: 5px 0 0 5px !important;
}

.sag-fullscreen-control {
	margin: 0 0 5px 5px !important;
}

#zoom-in, #zoom-out, #fullscreen, #geolocation {
  margin: 5px;
  display: block;
}

.conditions {
	padding: 4px 10px 2px 10px;
	background: rgba(43, 62, 80, 0.60);
}

.conditions:hover {
    background: #c85e17;
}

.conditions a {
	text-decoration: none;
	color: #ebebeb;
}

.preview-container {
	padding-bottom: 10px;
}

.preview-img {
	float: left;
	padding: 10px;
}

.upload-img {
	position: relative;
}

.upload-img .clear {
	background: rgba(29,32,34,.6);
	border: none;
	top: 10px;
	right: 10px;
	position: absolute;
	border-radius: 0 0 0 2px;
}

.upload-img .percent {
	display: none;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 45px;
	height: 45px;
	text-align: center;
	color: white;
	background: rgba(29,32,34,.6);
	border-radius: 50%;
	font-weight: bold;
	line-height: 45px;
	font-size: 18px;
}

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

.comment-form textarea {
	resize: none;
	height: 40px;
	-webkit-transition: height .3s ease-in-out;
	   -moz-transition: height .3s ease-in-out;
	    -ms-transition: height .3s ease-in-out;
	     -o-transition: height .3s ease-in-out;
	        transition: height .3s ease-in-out;
}

.comment-form textarea:focus {
	height: 70px;
}

.comment-like {
	padding-left: 10px;
	padding-right: 10px;
}

.profile {
	padding-top: 15px;
}

.profile img {

}

.profile .profile-name {
	padding-left: 15px;
}

.profile .profile-name,
.profile .profile-info {
	display: inline-block;
}