<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<meta name="theme-color" content="#df691a">
<title>{{title}}</title>
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/jasny-bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/superhero.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/other.css">
<link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/preloader.css">
<link rel="stylesheet" type="text/css" href="/static/css/nanoscroller.css">
<link rel="stylesheet" href="http://2gis.github.io/mapsapi/vendors/Leaflet.markerCluster/MarkerCluster.css">
<link rel="stylesheet" href="http://2gis.github.io/mapsapi/vendors/Leaflet.markerCluster/MarkerCluster.Default.css">

<!-- Cropper -->
<link rel="stylesheet" type="text/css" href="/static/css/cropper/cropper.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/cropper/main.css">


<script src="/static/js/jquery-2.2.2.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jasny-bootstrap.min.js"></script>
<script src="/static/js/jquery.nanoscroller.min.js"></script>
<script src="/static/js/color-thief.min.js"></script>
<script src="/static/js/validator.min.js"></script>
<script src="http://maps.api.2gis.ru/2.0/loader.js?pkg=full" data-id="dgLoader"></script>
<script src="http://maps.api.2gis.ru/2.0/cluster_realworld.js"></script>
<!-- Cropper -->
<script src="/static/js/cropper/cropper.min.js"></script>

<!-- bundle -->
<script src="/bundle.js"></script>

