<!DOCTYPE html>
<html>
<head></head>
<body>
  <cat-navbar id="navbar" cat-store="Main"></cat-navbar>
  <div class="container">
    <cat-map id="map" cat-store="Map"></cat-map>
  </div>
</body>
</html>

