<div class="row">
    <div class="col-centered col-md-6">
    {{#if status}}
        <h3>Привет, {{{content.username}}}! Ты уже залогинен.</h3>

        А это <a id="user_logout" href="/auth/logout">выход</a>, если ты его искал.

    {{else}}
        <h1>Регистрация</h1>

        <div class="alert alert-danger hidden">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Ошибка</strong>
          <span></span>
        </div>

        <div class="error-content"></div>

        <form class="form-horisontal" id="registration-form" method="post">

          <div class="form-group">
            <input class="form-control" name="RegistrationForm[username]" type="text" placeholder="Имя">
            <div class="help-block with-errors"></div>
            <p class="help-block">Например: Иван Иванов</p>
          </div>

          <div class="form-group">
            <input class="form-control" name="RegistrationForm[email]" type="email" placeholder="Е-mail">
            <div class="help-block with-errors"></div>
          </div>

          <div class="form-group">
            <input class="form-control" name="RegistrationForm[password]" type="password" placeholder="Пароль" >
           <!--  <input class="form-control" name="RegistrationForm[password]" type="password" placeholder="Пароль" data-minlength="6" data-error="Минимум 6 символов" required> -->
            <div class="help-block with-errors"></div>
          </div>

          <div class="form-group">
            <input class="form-control" name="RegistrationForm[passwordverify]" type="password" placeholder="Подтвердите пароль">        
    <!--         <input class="form-control" name="RegistrationForm[passwordverify]" type="password" placeholder="Подтвердите пароль" data-minlength="6" data-match="input[name='RegistrationForm[password]']" data-error="Пароли не совпадают" required> -->
            <div class="help-block with-errors"></div>
          </div>

          <div class="form-group buttons">
            <input class="btn btn-primary" type="submit" value="Зарегестрироваться">
          </div>
          
          <div class="preloader">
            <div class="preloader-inner preloader-one"></div>
            <div class="preloader-inner preloader-two"></div>
            <div class="preloader-inner preloader-three"></div>
          </div>
          
        </form>

        <div class="text-center" style="height:1px;background-color:white;margin:30px 0 30px">
          <span style="background-color:#2b3e50;font-size:1.7em;position:relative;top:-0.7em;padding:5px;font-weight:bold">
            ИЛИ
          </span>
        </div>
            
        <div class="auth-services text-center">
          <span class="auth-service vkontakte" title="VKontakte">
            <a class="btn btn-vkontakte" href="#vkontakte">
              <i class="fa fa-vk"></i>
            </a>
          </span>
          <span class="auth-service facebook" title="Facebook">
            <a class="btn btn-facebook" href="#facebook">
              <i class="fa fa-facebook"></i>
            </a>
          </span>
          <span class="auth-service twitter" title="Twitter">
            <a class="btn btn-twitter" href="#twitter">
              <i class="fa fa-twitter"></i>
            </a>
          </span>
          <span class="auth-service google_oauth" title="Google (OAuth2)">
            <a class="btn btn-google_oauth" href="#google-oauth">
              <i class="fa fa-google"></i>
            </a>
          </span>
        </div>

        <p class="help-block">
          <a href="#">Забыли пароль?</a>
          <a class="pull-right" href="/auth/login">Войти на сайт</a>
        </p>
    {{/if}}
    </div>
</div>
