{{#if id}}
	<h1>{{content.attributes.user_title}}</h1>
	<blockquote>
		<i class="glyphicon glyphicon-map-marker"></i>
		&nbsp;{{content.attributes.small_description}}
	</blockquote>

	<div class="preview-container">
	{{#if content.img}}
		{{#each content.img}}
		<div class="preview-img">
				<img class="img-responsive" src="{{../url}}{{this.files.m}}">
		</div>
		{{/each}}
	{{/if}}
	</div>

	<div class="clearfix"></div>
	<p>{{content.attributes.description}}</p>

	<div>
		<a href="/placemark/show/{{id}}">POINT ID: {{id}}</a>
	</div>

	<h3>Комментарии</h3>

	<form class="form-horizontal comment-form">
		<div class="form-group">
			<div class="col-lg-12">
				<textarea class="form-control" rows="1" placeholder="Оставите комментарий?"></textarea>
			</div>
		</div>

		<div class="form-group">
			<div class="col-lg-12">
				<button type="submit" class="btn btn-primary pull-right">Отправить</button>
			</div>
		</div>
	</form>



	{{#if comments}}
		{{#each comments}}
		<div class="media">
			<div class="media-left">
				<a href="#">
				<img class="img-circle media-object" src="{{this.avatar}}" alt="...">
				</a>
			</div>
			<div class="media-body">
				<h4 class="media-heading">{{this.username}}</h4>
				<p>{{this.text}}</p>
				<div class="comment-like pull-left">
					<i class="fa fa-heart"></i>
				</div>
				<div class="comment-reply">
					<a href="#">Ответить</a>
				</div>
			</div>
		</div>
		{{/each}}
	{{/if}}
{{else}}
<cat-notfound id="notfound"></cat-notfound>
{{/if}}