<h1>Настройки пользователя</h1>
<div class="error-content" style="display: none">
	<div class="alert alert-danger">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
		<strong>Ошибка</strong>
		<span>Необходимо заполнить «e-mail».</span>
    </div>
</div>
{{#if status}}
	<div class="row">
		<div class="col-md-7">
			<form id="user-settings">
				{{#each settings}}
					{{#if_eq settingType.setting_type "TEXTFIELD"}}
						<div class="form-group">
							<label>{{setting_name}}</label>
					        <input class="form-control" name="settings[{{user_type_id}}]" type="text" placeholder="Напишите тут что-нибудь" value="{{settings.value}}">
							<div class="help-block with-errors" data-id="{{user_type_id}}"></div>
						</div>
					{{/if_eq}}

					{{#if_eq settingType.setting_type "TEXTAREA"}}
							<div class="form-group">
								<label>{{setting_name}}</label>
						        <textarea class="form-control" name="settings[{{user_type_id}}]" type="textarea" placeholder="Напишите тут что-нибудь" value="{{settings.value}}">{{settings.value}}</textarea>
								<div class="help-block with-errors" data-id="{{user_type_id}}"></div>
							</div>
					{{/if_eq}}


				{{/each}}

				<div class="form-group buttons">
					<input class="btn btn-primary" type="submit" value="Cохранить">
				</div>
			</form>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<div class="btn-group">
			  <label class="btn btn-primary btn-upload" for="inputImage" title="Upload image file">
			    <input type="file" class="sr-only" id="inputImage" name="file" accept="image/*">
			    <span class="docs-tooltip" data-toggle="tooltip" title="Загрузка фото профиля">
			      <span class="glyphicon glyphicon-camera"></span>
			    </span>
			  </label>
			</div>
			<span class="cropper-enabled" style="display:none">

				<div class="btn-group">
				    <span class="docs-tooltip" data-toggle="tooltip" title="Сохранить">
				    	<div class="btn btn-primary success-crop">Сохранить</div>
				    </span>
				</div>				
				
				<div class="btn-group">
				    <span class="docs-tooltip" data-toggle="tooltip" title="Отмена">
				    	<div class="btn btn-primary cropper-destroy">Отмена</div>
				    </span>
				</div>
			</span>
		</div>
	</div>
	<br>
	<div class="image-viewer" style="display: none">
		<div class="row">
			<div class="col-md-12">
			  <!-- <h3 class="page-header">Demo:</h3> -->
			  <div class="img-container">
			    <img id="image" src="/static/img/default/user-image-placeholder-50.jpg" alt="Picture">
			  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="docs-preview clearfix">
				  <div class="img-preview preview-lg"></div>
				  <div class="img-preview preview-md"></div>
				</div>
			</div>
		</div>
	</div>
{{else}}
	Для просмотра этой страницы необходимо авторизироваться
{{/if}}
