<!-- 2gis map -->
<div id="map-backdrop"></div>
<div id="map-container">
	<div id="map-chooser"></div>
	<div id="map-dialog">
		<p>Наведите прицел, как можно точнее, на то место где находится граффити, чтобы выбрать это местоположение.</p>
		<div 
			data-toggle="tooltip"
			data-placement="top"
			title="Чтобы выбрать координаты, нужно максимально приблизить карту"
			style="display:inline-block"
		>
			<button id="coordinatesChoose" class="btn btn-primary">Выбрать</button>
		</div>
		<button id="coordinatesCancel" class="btn btn-primary">Отмена</button>
	</div>
</div>
<!-- /2gis map -->