<div class="navmenu-header">
	<button class="navmenu-search">
		<i class="fa fa-search"></i>
	</button>
	{{#if status}}
		{{#if photoProfile}}
			<img id="avatar" class="img-responsive img-circle" src="{{photoProfile}}">
		{{/if}}
		<div class="navmenu-name">
			<h3>{{content.username}}</h3>
			{{#if signature}}
				<span>{{signature}}</span>
			{{/if}}
		</div>
	{{/if}}
</div>

<ul class="nav navbar-nav">
	
	<li class="dropdown">
		<a href="#" id="showToMap" class="dropdown-toggle" 
			data-toggle="dropdown"
			data-content="<button id='refreshMapFromHashListener' class='btn btn-primary'>Показать на карте</button>">
			<span class="city-current">Новосибирск </span>
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu navmenu-nav" role="menu">
			<cat-city-menu id="city-menu" cat-store="Cities"></cat-city-menu>
		</ul>
	</li>

	{{#if status}}
		<li><a href="/placemark/add">Хочешь добавить граффити?</a></li>
	{{else}}
		<li><a href="/auth/login">Войти</a></li>
		<li><a href="/auth/registration">Регистрация</a></li>
	{{/if}}

	{{#if status}}
		<li class="dropdown">
			<a id="userblock" class="dropdown-toggle" data-toggle="dropdown">
				{{#if photoProfile}}
					<img class="avatar" src="{{photoProfile}}" width="30" height="30">
				{{else}}
					<img class="avatar" src="/static/img/default/user-image-placeholder-50.png" width="30" height="30">
				{{/if}}
				{{content.username}}
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu" role="menu">
				<li><a href="/user/profile">Профиль</a></li>
				<li><a href="/user/settings">Настройки</a></li>
				<li><a id="userLogout" href="/auth/logout">Выйти</a></li>
			</ul>
		</li>

		{{#each links.user}}
			<li><a href="{{this}}">{{@key}}</a></li>
		{{/each}}

	{{/if}}

	{{#each links.common}}
		<li><a href="{{this}}">{{@key}}</a></li>
	{{/each}}

		<!--Нужно сделать отдельным компонентом-->

</ul>

