<h1>Добавление маркера</h1>
{{#if status}}
<form class="form-inline" id="uploadForm" method="post">

	<h2>Загрузка изображений&nbsp;<i class="fa fa-check hidden" id="uploadCheck"></i></h2>
	<div class="preview-container" id="imageUploadPreview"></div>
	<div class="clearfix"></div>

	<div class="form-group">
		<div class="btn btn-primary btn-file">
			<input name="data" id="fileChoose" type="file" accept="image/x-png, image/jpeg" multiple>
				<i class="fa fa-file-picture-o"></i>
			&nbsp;Выберите файл(ы)...
		</div>
	</div>
	<div class="form-group">
		<div 
			data-toggle="tooltip"
			data-placement="top"
			title="Вы должны выбрать файлы изображений"
			style="display:inline-block"
		>
			<button class="btn btn-primary" type="submit" id="uploadBtn">
				<i class="fa fa-upload"></i>
				&nbsp;Загрузить
			</button>
		</div>
	</div>

</form>

<form class="form-horisontal" id="addForm" method="post">

	<h2>Выбор местоположения&nbsp;<i class="fa fa-check hidden" id="locationCheck"></i></h2>

	<div class="row">
		<div class="col-md-3">
			<div class="form-group">
				<div class="input-group">
					<input class="form-control" type="text" name="lat" id="coordinatesLat" readonly>
					<div class="input-group-addon">с. ш.</div>
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<input class="form-control" type="text" name="lng" id="coordinatesLng" readonly>
					<div class="input-group-addon">в. д.</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<button type="button" id="viewMap" class="btn btn-primary">
					<i class="fa fa-map-o"></i>
					&nbsp;Выбрать на карте
				</button>
				<button type="button" id="viewMapLocate" class="btn btn-primary">
					<i class="fa fa-dot-circle-o"></i>
					&nbsp;Моё местополжение
				</button>
			</div>
		</div>
	</div>

	<h2>Информация&nbsp;<i class="fa fa-check hidden" id="infoCheck"></i></h2>

	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label for="userTitle" class="control-label">Заголовок*</label>
				<input class="form-control" type="text" name="user_title" id="userTitle">
			</div>
			<div class="form-group">
				<label for="description" class="control-label">Описание</label>
				<textarea class="form-control" name="description" id="description"></textarea>
			</div>
			<div class="form-group">
				<div 
					data-toggle="tooltip"
					data-placement="top"
					title="Вы должны заполнить всю форму"
					style="display:inline-block"
				>
					<button class="btn btn-primary" type="submit" id="addBtn">
						<i class="fa fa-check"></i>
						&nbsp;Отправить
					</button>
				</div>
			</div>
		</div>
	</div>

</form>

<div class="alert alert-danger hidden">
	<button 
		type="button" 
		class="close" 
		data-dismiss="alert" 
		aria-label="Close"
	>
		<span aria-hidden="true">&times;</span>
	</button>
	<strong>Ошибка</strong>
	<span></span>
</div>

<div class="error-content"></div>
{{else}}
<h3>Что-то не так...</h3>
{{/if}}
