<nav class="navmenu navmenu-default navmenu-fixed-left offcanvas">
	<div class="nano">
		<div class="nano-content">
			<div class="navmenu-body">
				<div class="col-md-3 navmenu-sidebar">
					<cat-sidebar id="sidebar" cat-store="Menu"></cat-sidebar>
				</div><!-- ./col-3 -->
				<div class="col-md-9 navmenu-content">
					<cat-wrapper id="wrapper" cat-store="Wrapper"></cat-navbar>
				</div><!-- ./col-9 -->
			</div>
		</div>
	</div>
</nav>

<div class="navbar navbar-inverse navbar-fixed-top" style="">
	<button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="/">{{{appname}}}</a>
</div>
<script type="text/javascript">
	$(document).ready(function () {

  	$('#map-backdrop').on('click', function() {
  		$('[data-toggle=offcanvas]').trigger('click.bs.offcanvas.data-api');
  	});

		$('.navmenu').css({
			"width": ($(window).width() - 50) + "px"
		}).offcanvas({
			"toggle": false,
			"canvas": "body",
			"placement": "left",
			"autohide": false
		});

		$(".nano").nanoScroller();

	});
</script>